html{
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
body{
    width: 100%;
    height: auto;
    color: #333;
    background-color: #FFF;
    font-family: Georgia;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
h4{
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
}
ul{
    list-style: none;
    overflow: hidden;
    width: auto;
    padding: 0;
    margin: 0;
}
.outer{
    width: 100%;
    position: relative;
    /*padding: 0 3px;*/
}
div.pinch-zoom{
    width: 100%;
    /*text-align: center;*/
    -webkit-user-drag: none;
}
div.pinch-zoom img{
    /*width: 100%;*/
    -webkit-user-drag: none;
}
.pinch-zoom-container{
    width: 100%;
}
.cutMove{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #DDD;
    padding: 2px;
    margin-top: 2px;
    background: #333;
    outline: none;
}
div.rect{
    border: 1px solid red;
}
.subImg{
    padding: 3px;
    margin:2px 0px;
    /*border: 1px solid rgba(0,0,0,.4);*/
    background: white;
    /*border-radius: 3px;*/
    /*box-shadow: 1px 1px 3px 2px rgba(0,0,0,.2);*/
    display: none;
    /*width: 1000px;*/
    /*overflow: hidden;*/
    position: relative;
}
.subImg:after{
    display: table;
    content: '';
    clear: left;
}
.submitLabel{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    padding: .5rem;
    background: #CCC;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border: none;
    z-index: 10;
}
.lableSubmitOuter{
    position: relative;
    z-index: 1;
}
.bgRed{
    background: red;
}
.cutImgLabel{
    margin-bottom: 3px;
    /*padding: 0 5px;*/
    /*z-index: -1;*/
    position: relative;
}
.bdAAA{
    border: 1px solid #AAA;
}
.bdTra{
    border: 1px solid transparent;
}
.bdRed{
    border: 1px solid #F00;
}
.bdBlue{
    border: 1px solid #00F;
}
.img-thumbnail{
    padding: 0;
}