/*reset*/
body,h1,h2,h3,h4,h5,p{
    margin: 0;
}
h1,h2,h3,h4,h5{
    text-align: center;
}
ul{
    list-style: none;
    overflow: hidden;
    width: auto;
    padding: 0;
    margin: 0;
}



/*common*/
.bgRed{
    background: red;
}
.bdAAA{
    border: 1px solid #AAA;
}
.bdTra{
    border: 1px solid transparent;
}
.bdRed{
    border: 1px solid #F00;
}
.bdBlue{
    border: 1px solid #00F;
}

.l{float: left}
.r{float: right}
.lh30{line-height: .3rem;}

/*page*/
html{
    height: 100%;
    overflow-x: hidden;
    font-size: 100px;
    font-family: Arial;
}
body{
    width: 100%;
    height: auto;
    color: #333;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 16px;
}



/*header*/
.header{
    height: .44rem;
}
h1{
    line-height: .44rem;
    font-size: 18px;
    font-weight: normal;
    color: #323232;
}
.back{
    /*display: inline-block;*/
    display: block;
    margin: -.33rem 0 0 .15rem;
}
.backImg{
    width: .22rem;
}


/*main*/
.outer{
    width: 100%;
    position: relative;
}
div.pinch-zoom{
    width: 100%;
    -webkit-user-drag: none;
}
div.pinch-zoom img{
    /*width: 100%;*/
    -webkit-user-drag: none;
}
.pinch-zoom-container{
    width: 100%;
}
div.rect{
    border: 1px solid red;
}

/*form*/
.showInfo{
    padding: .1rem .15rem 0;
}
.showInfo li{
    padding-top: .2rem;
}
.showInfo label{
    margin-right: .1rem;
    font-size: 14px;
    font-weight: normal;
    color: #323232;
}
.showInfo .text{
    height: .3rem;
    outline: none;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    font-size: 14px;
}
.showInfo .btn{
    height: .3rem;
    width: .6rem;
    outline: none;
    border: 1px solid #ff6000;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    background: #ff6000;
    color: white;
}
.showInfo .sucInput{
    width: 3.0rem;
    text-align: center;
    color: #828282;
}
.showInfo .errInput{
    width: 2.3rem;
    padding: 0 0 0 .05rem;
    margin-right: .08rem;
    text-align: left;
    color: #c8c8c8;
}
.showInfo .sucBtn{
    position:absolute;
    top: -999rem;
}
.showInfo .errBtn{
    position:static;
}
.showInfo .disabledBtn{
    background: #aaa;
}


/*footer*/
.submitOuter{
    position: relative;
    z-index: 1;
}
.submitLabel{
    width: 100%;
    height: .44rem;
    position: fixed;
    bottom: 0;
    background: #ff6000;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    z-index: 10;
}


@keyframes change {
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes change {
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(360deg);}
}